/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  font-family: $font-title-base;
  background-color:$white;
  font-size:14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size:16px;
    line-height: 24px;
  }

}
img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
