.title-h1{
  font-family: $font-title-second;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title-h2{
  font-family: $font-title-second;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $black;
  padding-bottom: 25px;

  @media (min-width: $tablet-width){
    font-size: 60px;
    line-height: 60px;
  }
}

.title-h3{
  color: $black;
  text-align: left;
  background: $bg-color-basic;
  width: fit-content;
  font-family: $font-title-second;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  box-shadow: -40px 0 #ffffff, 40px 0 #ffffff;;
}
@media (min-width:$tablet-width) {
  .title-h3--line:after {
    margin-top: 13px;
  }
}
.title-h3--line::after {
  content: "";
  z-index: -1;
  background-color: $primary-color;
  width: 100vw;
  height: 2px;
  position: absolute;
  top: 14px;
  right: 0;
  box-shadow: 100vw 0 $primary-color;

  @media (min-width:$tablet-width) {
    top: 7px;
  }
}
