@use "mixins";
@use "variables";

.title-h1 {
  font-family: $font-title-second;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
