/* здесь используйте глобальные переменные */

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

// Colors
$base-color-text: #444444;
$base-color-black: #000000;
$base-color-dark: #111111;
$base-color-white:  #ffffff;
$base-color-product-card-title: #222222;
$background-color-green: #68B738;
$background-color-grey: #f2f2f2;


