/* здесь используйте глобальные переменные */

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: $tablet-width - 1 px;

//Fonts
$font-title: "Oswald","Arial",sans-serif;

// Colors
$gray: #444444;
$black: #000000;
$dark-gray: #111111;
$white:  #ffffff;
$charcoal-gray: #222222;
$green: #68B738;
$lightgrey:  #f2f2f2;



