.container{
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 768px){
    padding: 0 30px;
  }

  @media (min-width: 1220px) {
    max-width: 1220px + 60px;
  }
}


/* GLOBAL */
@import "./global/variables.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";
@import "./global/visually-hidden.scss";
@import "./global/mixins.scss";

/* BLOCKS */
@import "./blocks/page.scss"; //++
@import "./blocks/header.scss";//++
@import "./blocks/main-nav.scss";//++
@import "./blocks/main-container.scss"; //++
@import "./blocks/promo.scss";//+
@import "./blocks/categories.scss";//+
@import "./blocks/benefits.scss";//+
@import "./blocks/main-illustration.scss";//+
@import "./blocks/contacts.scss";//+
@import "./blocks/catalog.scss";//+
@import "./blocks/product-card.scss";//+
@import "./blocks/button.scss";
@import "./blocks/additional-products.scss";//+
@import "./blocks/additional-card.scss";//+
@import "./blocks/special-offer.scss";//+
@import "./blocks/subscribe.scss";//+
@import "./blocks/footer.scss";//+
@import "./blocks/socials.scss";//+
@import "./blocks/developers.scss";//+


