@use "../global/mixins.scss";
@use "../global/variables.scss";

.benefits__title {
  margin-top: -3px;
  font-family: $font-title-second;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 37px 0;
  }
}

.benefits__list {
  padding: 0;
  margin-top: -15px;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 98px 133px;
    justify-content: flex-start;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-top: -17px;
  }
}

.benefits__item {
  padding: 0;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 250px;
    display: grid;
    gap: 30px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.benefits__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $font-color-primary;

  @media (min-width: $tablet-width) {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 29px;
  }
}

.benefits__item::before {
  display: inline-block;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-color: $primary-color;
  width: 60px;
  height: 60px;
  padding: 30px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-right: 0;
  }
}

.benefits__item--healthy::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.benefits__item--fast::before {
  background-image: url("../../icons/stack.svg#icon-powder");
  background-size: 26px 29px;
}

.benefits__item--functional::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 25px 30px;
}

.benefits__item--productive::before {
  background-image: url("../../icons/stack.svg#icon-scales");
  background-size: 26px 31px;
}

@media (min-width: $tablet-width) {
  .benefits__list {
    counter-reset: test;
  }

  .benefits__list .benefits__item::after {
    counter-increment: test;
    content: counter(test);
    color: $bg-secondary;
    z-index: -1;
    width: 132px;
    font-family: $font-title-second;
    font-size: 270px;
    font-weight: 400;
    line-height: 280px;
    display: inline-block;
    position: absolute;
    top: -43px;
    right: 0;
  }

  .benefits__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 34px;
  }
}
