.benefits__title{
  font-family: $font-title-second;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width){
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}
.benefits__list{
  padding: 0;

  @media (min-width:$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 30px 137px;
    justify-content: flex-start;
    margin-bottom: 47px;

  }

  @media (min-width:$desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
}
.benefits__item{
  //justify-content: space-between;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  @media (min-width:$tablet-width) {
    max-width: 250px;
    max-height: 280px;
    display: grid;
    gap: 30px;
  }
}
.benefits__text{
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $gray;

  @media (min-width: $tablet-width){
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
  }
}
.benefits__item::before{
  display: inline-block;
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-color: $green;
  width: 60px;
  height: 60px;
  padding: 30px;
  margin-right: 20px;

  @media (min-width:$tablet-width) {
    width: 80px;
    height: 80px;
    margin-right: 0;
  }
}
.benefits__item--healthy::before{
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}
.benefits__item--fast::before{
  background-image: url("../../icons/stack.svg#icon-powder");
  background-size: 26px 29px;
}
.benefits__item--functional::before {
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 25px 30px;
}
.benefits__item--productive::before{
  background-image: url("../../icons/stack.svg#icon-scales");
  background-size: 26px 31px;
}
