.button{
  display: inline-block;
  font-family: $font-title-second;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  //min-width: 280px;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 26px;
  }

  &--lg{
    min-height: 54px;
  }

  &--secondary{
    background-color: $lightgrey;
    color: #444444;
    width: 100%;
  }

  &--primary{
    padding: 10px 44px;
    color: #ffffff;
    background-color: $green;
  }

  &--primary:hover{
    background-color: #5EAA2F;
  }
    &--primary:active{
    opacity: 30%;
  }
}


