@use "../global/mixins.scss";
@use "../global/variables.scss";

.button {
  display: inline-block;
  font-family: $font-title-second;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }

  &--lg {
    display: block;
  }

  &--secondary {
    background-color: $bg-secondary;
    color: $font-color-primary;
  }

  &--primary {
    color: $white;
    background-color: $primary-color;
  }

  &--primary:hover {
    background-color: $bg-primary-special;
  }

  &--primary:active {
    color: #ffffff4d;
  }

  &--secondary:hover {
    background-color: $bg-secondary-special
  }

  &--secondary:active {
    background-color: $bg-secondary-special
  }
}
