.button--secondary{
  background-color: $lightgrey;
  color: #444444;
}

.button{
  font-family: $font-title-second;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  padding: 10px 20px;
  max-width: 280px;
  height: 40px;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 26px;
  }
}

.button--primary{
  display: block;
  padding: 10px 44px;
  color: #ffffff;
  background-color: $green;
  cursor: pointer;
}

