@use "../global/mixins.scss";
@use "../global/variables.scss";

.button {
  display: inline-block;
  font-family: $font-title-second;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  padding: 9px 20px;
  cursor: pointer;
  border: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 26px;
  }

  ///dybvfybt!
  @media (min-width: $desktop-width) {
    padding: 7px 16px;
    margin: 4px 0 0
  }

  &--lg {
    display: block;
    font-size: 16px;
    padding: 10px 26px;

    @media (min-width: $tablet-width) {
      padding: 17px 9px;
      font-size: 16px;
      line-height: 12px;
    }
  }

  &--secondary {
    background-color: $bg-secondary;
    color: $font-color-primary;
  }

  &--primary {
    color: $white;
    background-color: $primary-color;
  }

  &--primary:hover {
    background-color: $bg-primary-special;
  }

  &--primary:active {
    color: $font-color-primary;
  }

  &--secondary:hover {
    background-color: $bg-secondary-special;
  }

  &--secondary:active {
    background-color: $bg-secondary-special;
  }
}
