.catalog__title {
  font-family: $font-title-second;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
.catalog__item{
  border-top: 1px solid #ebebeb;
  /* grid-template-rows: 55px 48px auto; */
  margin: 0;
  padding: 20px 20px 0;
  display: grid;

}


.catalog__list{
  margin: -20px;
  padding: 0;
  list-style-type: none;

  @media (min-width:$tablet-width) {
    //margin-top: 84px;
    grid-gap: 60px;
    grid-template-columns: 324px 324px;
    margin: 0 0 74px;
    display: grid;
  }

  @media (min-width:$desktop-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 1220px;
  }
}

.catalog__button{
  @media (min-width:$tablet-width) {
    min-width: 250px;
    min-height: 40px;
    margin: 32px 0 0;
  }

  .product-card & {
    grid-area: footer;

  }

  @media (min-width:$desktop-width) {
    min-width: 169px;
  }
}
