@use "../global/mixins.scss";
@use "../global/variables.scss";

.categories {
  display: flex;
  flex-direction: column;
  margin-top: -14px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    margin-bottom: 25px;
  }
}

.categories__list {
  min-width: 280px;
  padding: 0;
  margin-bottom: 0;
}

.categories__item-title {
  margin: 0;
  margin-top: 9px;
  font-family: $font-title-second;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width) {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 2px;
  }
}

.categories__description {
  border-bottom: 1px solid $border-color-special;
  grid-column: -1 / 1;
  margin: 0;
  padding: 22px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;

    border: none;
    grid-area: 2 / 1 / 3 / 2;
    max-width: 340px;
  }
}

.categories__item {
  font-family: $font-title-base;
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: $bg-secondary;
  margin-bottom: 15px;
  min-height: 266px;
  padding: 25px 25px 22px 20px;
  column-gap: 20px;

  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.categories__item--slim {
  @media (min-width: $tablet-width) {
    padding: 68px 29px 53px 52px;
    margin-bottom: 30px;
  }
}

.categories__item--pro {
  @media (min-width: $tablet-width) {
    padding: 68px 29px 53px 52px;
  }
}

.categories__item::before {
  @media (min-width: $tablet-width) {
    margin: 0;
    grid-area: 1 / 2 / 4 / 3;
    margin-bottom: 39px;
  }
}

.categories__item--slim::before {
  display: block;
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
    background-size: 200px 211px;
    margin: -16px 0 0 34px;
  }
}

.categories__item--pro::before {
  display: block;
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    background-size: 268px 200px;
    margin: 24px 0 24px;
  }
}

.categories__link {
  font-family: $font-title-second;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-flex;
  gap: 15px;
  align-items: center;
  grid-column: -1/1;
  padding-top: 19px;
  padding-left: 1px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    grid-area: 3 / 1 / 4 / 2;
    gap: 25px;
    padding-top: 32px;
  }
}

.categories__link::after {
  display: inline-flex;
  content: "";
  width: 32px;
  height: 10px;
  background-image: url("../../icons/stack.svg#icon-arrow");
  background-repeat: no-repeat;
  background-size: 32px 10px;
}

.categories__link:active {
  opacity: 0.3%;
}

.categories__link:active {
  opacity: 30%;
}

@media (min-width: $desktop-width) {
  .categories {
    padding-top: 275px;
    margin-bottom: 20px;

    &__list {
      display: grid;
      gap: 80px;
      grid-template-columns: 1fr 1fr;
    }

    &__item {
      padding: 45px 38px 59px 52px;
      margin-bottom: 0;
      align-items: start;

      &--slim {
        padding-top: 20px;
        margin-bottom: 0;

        .categories__item-title {
          margin-top: 55px;
        }

        &::before {
          width: 141px;
          height: 106px;
          background-size: 100px 106px;
          margin-top: 20px;
        }
      }

      &--pro {
        padding-left: 35px;

        .categories__description,
        .categories__link {
          padding-left: 15px;
        }

        &::before {
          width: 134px;
          height: 100px;
          background-size: 134px 100px;
          margin: 0;
        }
      }

      &::before {
        grid-area: 1 / 1 / 2 / 2;
      }
    }

    &__item-title {
      grid-area: 1/2/2/3;
    }

    &__description {
      grid-area: 2 / 1 / 3 / 3;
      min-width: 480px;
    }

    &__link {
      grid-column: -1/1;
      padding: 0;
    }
  }
}
