.categories{
  display: flex;
  flex-direction: column;
}
.categories__list{
  min-width: 280px;
  padding: 0;
}
.categories__item--slim {
  .categories__item--pro {
    background-color: $lightgrey;
  }
}

.categories__item-title {
  margin: 0;
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width){
    font-size: 36px;
    line-height: 36px;
  }
}

.categories__description {
  border-bottom: 1px solid #d9d9d9;
  grid-column: -1 / 1;
  margin: 0;
  padding: 22px 0;

  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 24px;
  }

}

.categories__item{

  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #f2f2f2;
}

.categories__item--slim::before {
 display: block;
  content: "";
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {

    width: 140px;
    height: 194px;
    background-size: 140px 194px;
  }

  @media (min-width: $desktop-width) {

    width: 70px;
    height: 97px;
    background-size: 70px 97px;
  }

}
.categories__item--slim{
  padding-bottom: 20px;
}
.categories__item--pro::before {
  display: block;
  content: "";
  width: 67px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-repeat: no-repeat;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    background-size: 268px 112px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    background-size: 134px 56px;
  }
}
.categories__link {
  font-family: $font-title;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 30px;
  }
}
.categories__link::after{
  display: block;
  content: "";
  width: 32px;
  height: 10px;
  mask-image: url("../../icons/stack.svg#icon-arrow");
  mask-repeat: no-repeat;
  mask-size: 32px 10px;
}

