@use "../global/mixins.scss";
@use "../global/variables.scss";

.contacts {
  background-color: $white;

  @media (min-width: $desktop-width) {
    position: relative;
    padding-top: 90px;
    padding-bottom: 101px;
  }
}

.contacts--catalog {
  background-color: $bg-secondary;
}

.contacts__content {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;


  @media (min-width: $tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    max-width: 565px;
    background-color: $white;
    position: relative;

  }
}

.contacts__text {
  margin: 0;
  font-family: $font-title-second;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $font-color-accent;
  text-transform: uppercase;
  max-width: 140px;


  @media (min-width: $tablet-width) {
    max-width: 160px;
    font-size: 20px;
    line-height: 26px;
  }
  @media (min-width: $desktop-width) {

  }
}

.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: $font-color-primary;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    gap: 20px;
    max-width: 160px;
    display: flex;
    font-size: 16px;
    text-align: right;
  }
}

.contacts__map {
  max-width: 100%;

  @media (min-width: $desktop-width) {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

}

.contacts__map--img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__map iframe {
  border: 0;
  width: 100%;
  height: 100%;

  .page__body--nojs & {
    display: none;
  }
}
