.contacts__text{
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $base-color-dark;

  @media (min-width: $tablet-width) and (min-width: $desktop-width){
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    color: $base-color-dark;
  }
}
.contacts__address{
  font-family: "Lato",sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: $base-color-text;

  @media (min-width: $tablet-width) and (min-width: $desktop-width){
    font-family: "Lato",sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: $base-color-text;
  }
}
