.developers{
  text-decoration: none;
}
.developers__title{
  color: #444;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}
.developers__title::after{
  display: block;
  content: "";
  width: 27px;
  height: 24px;
  mask-image: url(../../icons/stack.svg#academy-logo);
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: #666;
}
