@use "../global/mixins.scss";
@use "../global/variables.scss";

.developers {
  text-decoration: none;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.developers__title {
  color: $font-color-primary;
  justify-content: space-between;
  padding: 26px 0;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}

.developers__title:active {
  color: rgba($font-color-primary, 0.3);
}

.developers__title::after {
  display: block;
  margin-top: -8px;
  content: "";
  width: 27px;
  height: 35px;
  mask-image: url("../../icons/stack.svg#academy-logo");
  mask-position: center;
  mask-repeat: no-repeat;
  background-color: $icon-color;

  @media (min-width: $tablet-width) {
    margin-left: 23px;
  }
}

.developers__title:hover::after {
  background-color: $primary-color;
}

.developers:active,
.developers__title:active::after {
  opacity: 60%;
}
