.example{
  @media (min-width:$tablet-width) {
    background-color: $white;
    background-image: linear-gradient(#fff0 0 56%, $bg-secondary 136px 100%);
  }

  @media (min-width:$desktop-width) {
    background-image: linear-gradient(#fff0 0 24%, $bg-secondary 136px 100%);
  }
}
