.header{
  display: flex;
  justify-content: space-between;
  position: relative;

}

.site-logo{
  align-items: center;
  display: flex;

  @media (min-width: 360px) and (min-width: 767px){
    flex-grow: 1;
  }
}

.header__logo{

  @media (min-width: $tablet-width) {
    margin-top: 23px;
  }
}
.header__logo-image{
  display: block;

  @media (min-width: $tablet-width){
    height: 60px;
    max-width: 50px;
  }
}

.header__logo--text{
  height:18px;
  width: 101px;
  align-items: center;




  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }

}
