
.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 14px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-right: 37px;
    border:0;
  }

}

.site-logo{
  align-items: center;
  display: flex;
  flex-grow: 1;
  @media (min-width:$desktop-width) {
    .site-logo:hover{
      opacity: 80%;
    }
    .site-logo:active{
      opacity: 80%;
    }
  }
}

.header__logo{
  @media (min-width: $tablet-width) {
    margin-top: 12px;
    margin-left: -2px;
  }
}
.header__logo-image{
  display: block;

  @media (min-width: $tablet-width){
    height: 50px;
    max-width: 60px;
  }

  @media (min-width:$desktop-width) {
    max-width: 70px;
    height: 59px;
  }
}

.header__logo--text{
  height:18px;
  width: 101px;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }

  @media (min-width:$desktop-width) {
    width: 118px;
    height: 21px;
  }
}
