.main-illustration{
  background-color: #EAEAEA;
;
}
.main-illustration__title{
  font-family: $font-title;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width){
    font-size: 60px;
    line-height: 60px;
  }
}
.main-illustration__description{
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $gray;

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 24px;
  }
}
.main-illustration__row{
  display: flex;
  justify-content: center;
  gap:32px;
  margin:0;
  padding:0;
  padding-bottom: 15px;
}
.main-illustration__label{
  border: 1px solid #cdcdcd;
  border-radius: 1px;
  flex-direction: column;
  width: 124px;
  height: 56px;
  display: flex;
}
.main-illustration__label-number{
  align-self: center;
  margin: 10px auto;

  font-family: $font-title;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width){
    font-size: 30px;
    line-height: 37px;
  }
}
.main-illustration__label-description{
  text-align: center;
  background-color: #eaeaea;
  align-self: center;
  width: 77px;
  height: 24px;
  margin-top: 0;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width){
    font-size: 14px;
    line-height: 14px;
  }
}
.main-illustration__price{
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width){
    font-size: 20px;
  }
}
.main-illustration__slides{
  position: relative;
}
.main-illustration__button::after{
  position: absolute;
  content: "";
  width: 4px;
  height: 257px;
  mask-image: url("../../icons/stack.svg#switch");
  mask-repeat: no-repeat;
  mask-size: 4px 257px;

  @media (min-width: $tablet-width){
    height: 280px;
    mask-size: 4px 280px;
  }
}

