@use "../global/mixins.scss";
@use "../global/variables.scss";
@use "../global/fonts.scss";

.main-illustration {
  background-color: $bg-color-accent;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-color-accent;
  }
}

.main-illustration__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.main-illustration__title {
  text-align: left;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
  }
}

.main-illustration__description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $font-color-primary;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    font-size: 16px;
    line-height: 24px;
  }

  @media(min-width: $desktop-width) {
    padding-top: 103px;
    max-width: 439px;
  }
}

.main-illustration__row {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    justify-content: start;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 75px;
    row-gap: 136px;
  }
}

.main-illustration__label {
  margin-top: 10px;
  border: 1px solid $border-color-primary;
  border-radius: 1px;
  flex-direction: column;
  width: 124px;
  height: 56px;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }

}

.main-illustration__label-number {
  align-self: center;
  margin: 10px auto;

  font-family: $font-title-second;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.main-illustration__label-description {
  text-align: center;
  background-color: $bg-color-accent;
  align-self: center;
  width: 77px;
  height: 24px;
  margin: 0;
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    background-color: $white;
    padding-top: 4px;
    width: 125px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-secondary;
  }
}

.main-illustration__price {
  text-transform: uppercase;
  text-align: center;
  flex-grow: 1;
  margin-top: 31px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  font-family: $font-title-second;
  color: $black;

  @media (min-width: $tablet-width) {
    text-align: end;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    line-height: 20px;
    display: flex;
  }
  @media (min-width: $desktop-width) {
    grid-area: 2/1/3/3;
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    margin-top: -100px;
    justify-self: start;
  }
}

.main-illustration__slides {
  position: relative;
  margin-top: -9px;
  aspect-ratio: 280 / 256;
  grid-template-columns: 1fr 1fr;
  width: min(100%, 560px);
  display: grid;

  @media (min-width: $tablet-width) {
    margin: 88px 73px 61px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1/2/4/3;
    justify-self: end;
    margin: 0;
    margin-top: 19px;
  }
}

.slider__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.slider__image--state-before {
  object-position: left;
}

.slider__image--state-after {
  object-position: right;
}

.main-illustration__button {
  cursor: pointer;
  background-color: $icon-color;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-illustration__button::before {
  content: "";
  background-color: $white;
  border: 2px solid $icon-color;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-illustration__button::after {
  content: "";
  background-color: $icon-color;
  width: 24px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask-image: url("../../icons/stack.svg#switch");
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  z-index: 1;

}

.main-illustration__button:active {
  opacity: .6;
  background-color: $primary-color;
}

.main-illustration__button:hover::after {
  background-color: $primary-color;
}

.main-illustration__button::after:active {
  opacity: .6;
  background-color: $primary-color;
}

.main-illustration__button:hover::before {
  border-color: $primary-color;
}

.main-illustration__button::before:active {
  opacity: .6;
  background-color: $primary-color;
}

.main-illustration__button:hover {
  background-color: $primary-color;
}

