@use "../global/mixins.scss";
@use "../global/variables.scss";

.product-card {
  position: relative;
  border-top: 1px solid $bg-secondary-special;
  display: grid;
  row-gap: 20px;
  padding: 20px 20px 24px;
  grid-template-areas:
    "img    title"
    "img    options"
    "footer footer";

  @media (min-width: $tablet-width) {
    background: linear-gradient(#fff 0% 16%, #f2f2f2 16% 84%);
    border: none;
    padding: 82px 37px 40px;
    grid-template-areas:
      "img"
      "title"
      "options"
      "footer";
  }

  @media (min-width: $desktop-width) {
    background: none;
    padding: 86px 38px 40px;
    row-gap: 0;
  }

  @media (max-width: $mobile-width-only) {
    grid-template-rows: 75px 9px auto;
    grid-template-columns: 1fr 1fr;
  }
}

.product-card__link {
  grid-area: img;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin: -151px auto 0;
  }

  @media (min-width: $tablet-width) {
    margin: -150px auto 0;
    width: 169px;
  }
}

.product-card--more {
  background: none;
  display: flex;
  flex-direction: column;
  padding: 24px 18px 24px;
  width: 100%;
  border: 2px solid $bg-secondary;

  @media (min-width: $tablet-width) {
    padding: 52px 35px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 35px 38px;
  }
}

.product-card--more::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  margin: 0 auto -10px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    margin-bottom: 42px;
  }
}

.product-card__title {
  max-width: 76px;
  grid-area: title;
  text-decoration: none;
  display: block;
  font-family: $font-title-second;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $font-color-secondary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 135px;
    margin: 0 auto -13px;
  }

  @media (min-width: $desktop-width) {
    margin: 2px 19px 0;
  }
}

.product-card__text {
  grid-area: title;
  text-decoration: none;
  display: block;
  font-family: $font-title-second;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $font-color-secondary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    margin: -16px auto 79px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 170px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 0;
  }
}

.product-card__subtitle {
  text-align: center;
  margin: -25px 0 0;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin: -76px auto 56px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 25px 0 0;
  }
}

.product-card__options {
  grid-area: options;
  margin-top: -40px;

  @media (min-width: $tablet-width) {
    margin: 0 0 13px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 14px;
    margin-bottom: 34px;
  }
}

.product-card__option {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $font-color-primary;

  @media (min-width: $tablet-width) {
    padding: 10px 1px 1px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #cdcdcd;
    padding: 7px 0;
  }
}

.product-card__option-term {
  margin: 0;
}

.product-card__button {
  margin-top: auto;
  grid-area: footer;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    min-height: 40px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
    margin: auto 0 0;
  }
}
