.product-card{
  background-color: $lightgrey;
  position: relative;
}
.product--show-all::after{
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 30px 30px;

  @media (min-width: $tablet-width){
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
  }

}
.product-card__title{
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: $charcoal-gray;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.product-card__text{
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color:$gray;

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 18px;
  }
}
.product-card__option{
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $gray;

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 20px;
  }
}
.catalog__button{
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
  background-color:$green;
}
.product-card__button{
  font-family: $font-title;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $gray;
}



