@use "../global/mixins.scss";
@use "../global/variables.scss";

.promo {
  display: block;
  position: relative;
  flex-direction: column;
  font-family: $font-title-second;
  color: $white;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    color: $black;
    margin-bottom: -22px;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
}

.promo::before {
  content: "";
  display: block;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-color: $primary-color;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 302px;
  top: 2px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background@2x.png");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    display: block;
    width: 50vw;
    height: 716px;
    top: -150px;
    right: 0;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@2x.png");
    }
  }
}

.promo__content {
  flex-direction: column;
  display: flex;

  @media (min-width: $tablet-width) {
    padding-left: 90px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding-left: 80px;
  }
}

.promo__image {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: -1;
    max-width: initial;
    margin: -84px 0 0 -90px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 76px;
    transform: translate(-204px, -64px);
    max-width: initial;
    margin: 0;
  }
}

.promo__title {
  color: $white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    color: $black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
  }
}

.promo__intro {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-top: -6px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    max-width: 493px;
    margin-top: -10px;
  }
}

.promo__button {
  width: 100%;
  order: 1;

  @media (min-width: $tablet-width) {
    max-width: 244px;
    order: 0;
    margin-top: 31px;
    font-size: 20px;
    padding: 18px 26px;
  }
}
