.promo{
  flex-direction: column;
  font-family: $font-title;
  color: $white;
  background-color: $gray;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width){
    color: $black;
  }

  @media (min-width: $desktop-width){
    color: $black;
  }
}
.promo__title{
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

}
.promo__intro{
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

}
.promo__button{
  padding: 10px 44px;
  font-family: $font-title;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  color: white;
  background-color: $green;
  cursor: pointer;
  display: block;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 26px;
  }
}

