.promo{
  flex-direction: column;
  font-family: $font-title-second;
  color: $white;
  background-color: $gray;
  text-align: center;
  margin-bottom: 20px;
 background-image: url("../images/promo.png");
  background-repeat: no-repeat;


  @media (min-width: $tablet-width){
    position: relative;
    padding: 0;
    color: #000;
    background: none;
    background-color: #fff;
    background-image: none;
  }

}
.promo__title{
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

}
.promo__intro{
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

}
.promo__button{
  @media (min-width:$tablet-width) {
    content: "";
    position: absolute;
    top: 225px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    left: 0;
  }
}

