@use "../global/mixins.scss";
@use "../global/variables.scss";

.socials {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  padding: 20px 0 19px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid $border-color-special;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    border: none;
    align-self: center;
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
  }
}

.socials__link::after {
  display: block;
  content: "";
  width: 28px;
  height: 22px;
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  background-color: $icon-color;
}

.socials__link--vk::after {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.socials__link--youtube::after {
  mask-image: url("../../icons/stack.svg#youtube");
}

.socials__link--telegram::after {
  mask-image: url("../../icons/stack.svg#telegram");
}

.socials__link:hover::after {
  opacity: 30%;
  background-color: $primary-color;
}

.socials__link:active::after {
  background-color: $primary-color;
}
