@use "../global/mixins.scss";
@use "../global/variables.scss";

.socials {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid $border-color-special;

  @media (min-width: $tablet-width) {
    border: none;
    align-self: center;
  }
}

.socials__link::after {
  display: block;
  content: "";
  width: 28px;
  height: 22px;
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
  background-color: $icon-color;
}

.social__link--vk::after {
  mask-image: url("../../icons/stack.svg#vkontakte");
}

.social__link--youtube::after {
  mask-image: url("../../icons/stack.svg#youtube");
}

.social__link--telegram::after {
  mask-image: url("../../icons/stack.svg#telegram");
}

.socials__link:hover:after {
  opacity: .3;
  background-color: $primary-color;
}

.socials__link:active:after {
  background-color: $primary-color;
}
