.special-offer{
  background-color: $green;
  position: relative;
}
.special-offer__icon::after{
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  background-size: 78px 80px;

  @media (min-width: $tablet-width){
    width: 80px;
    height: 83px;
    background-size: 80px 83px;
  }
}
.special-offer__text{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color:$white;
}
