.special-offer{
  margin-top: 35px;
  background-color: $green;
  min-width: 280px;
  padding: 59px 43px 60px;
  background-image:linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../../images/offer-background-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;


  @media (min-width:$tablet-width) {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-image:linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../../images/offer-background-tablet1.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }


    @media (min-width:$desktop-width) {
      margin:0;
      padding: 59px 43px 60px;
      align-items: center;
      flex-direction: column;
      background-image:linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), url("../../images/offer-background-pc.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

}
.special-offer::before{
  display: block;
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  background-size: contain;

  margin: 0 auto 48px;


  @media (min-width: $tablet-width){
    width: 80px;
    height: 83px;
    background-size: 80px 83px;
    margin: 57px 0 61px 73px;
  }

  @media (min-width:$desktop-width) {
    margin: 0;
  }
}
.special-offer__text{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color:$white;

  @media (min-width: $tablet-width){
    text-align: left;
    margin-top: 71px;
    margin-right: 125px;
    margin-bottom: 69px;
  }

  @media (min-width:$desktop-width) {
    text-align: center;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
