@use "../global/mixins.scss";
@use "../global/variables.scss";

.subscribe {
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-bottom: 0;
  }
}

.subscribe__title {
  font-family: $font-title-second;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px 40px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 61px;
  }
}

.subscribe__description {
  font-family: $font-title-second;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $black;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    max-width: 632px;
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto 18px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
  }
}

.subscribe__form {
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    margin: 0 38px;
    padding-top: 3px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 235px 86px;
  }
}

.subscribe__label {
  display: block;
}

.subscribe__input {
  font-family: $font-title-second;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: $font-color-primary;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid $input-border-color;
  min-width: 280px;
  margin-bottom: 21px;
  padding: 16px;

  @media (min-width: $tablet-width) {
    padding: 13px;
    min-width: 376px;
  }

  @media (min-width: $desktop-width) {
    min-width: 496px;
  }
}

.subscribe__input:hover {
  border: 1px solid $border-color-primary;
}

.subscribe__input:focus {
  outline-offset: -2px;
  border-color: $font-color-primary;
  outline: 2px solid $font-color-primary;
}

.subscribe__button {
  font-family: $font-title-second;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: $white;
  background-color: $primary-color;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-height: 58px;
    min-width: 256px;
  }
}
