.subscribe__title{
  font-family: $font-title;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width){
    font-size: 32px;
    line-height: 32px;
  }
}
.subscribe__description{
  font-family: $font-title;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width){
    font-size: 24px;
    line-height: 32px;
  }
}
.subscribe__input{
  font-family: $font-title;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: $gray;
}
.subscribe__button{
  font-family: $font-title;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: $white;
  background-color: $green;
}
